
<html>
     <TITLE>添加人</TITLE>     
<META charset="utf-8">	    
<body>

    <div>
        <p>name: <input type="text" id="name" /></p>
    </div>
    <div>
        <p>age: <input type="text" id="age" /></p>
    </div>
    <input type="button" value="提交" onclick="SubmitForm();"/>
    <script src="/static/jquery/jquery-2.0.3.min.js"></script>
    <script>
        function SubmitForm(){
			
            $.ajax({
                url:'/people/ajax_demo/',
                type:'POST',
                data:{'name':$('#name').val(),'pwd':$('#pwd').val()},
                success:function(data){
                    if($.parseJSON(data)['status']==true){
                        location.href="http://www.baidu.com";
                    }
                    else{
                        alert("用户名或密码错误")
                    }
                }
            })
        }
		
    </script>
</body>
</html>